/* AbmList */

.table {
  border: 0.3vw solid black;
}

.table th,
.table td {
  font: 1.2vw var(--main-font);
}

.plus-icon {
  background-color: var(--main-background);
  border-radius: 50%;
}

.table thead {
  background-color: var(--table-color);
}
.table tbody tr:nth-of-type(even) {
  background-color: var(--table-color);
}
.table tbody tr:nth-of-type(odd) {
  background-color: var(--main-background);
}

.pagination {
  background-color: var(--main-background);
}

.page-item.active .page-link{
  z-index: 3;
  color: #fff;
  background-color: var(--table-color);
  border-color: var(--table-color);
}

.page-link {
  color: var(--table-color);
}

/* AbmForm */

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  margin: 0 auto;
  border-radius: 1vw;
  background-color: var(--form-color);
  padding-block: 1vw;
}

@media only screen and (max-width: 600px) {
  .dataForm {
    width: 95%;
    border-radius: 3vw;
  }
}

.dataForm label {
  color: var(--text-color);
  font-family: var(--main-font);
}
.dataForm input::placeholder {
  font-family: var(--main-font);
}

.button-form {
  margin-left: -81%;
}
.button-back {
  border-radius: 50%;
}
