/* AbmList */

.table {
  border: 0.3vw solid black;
}

.table th,
.table td {
  font: 1.2vw var(--main-font);
}

.plus-icon {
  background-color: var(--main-background);
  border-radius: 50%;
}

.table thead {
  background-color: var(--table-color);
}
.table tbody tr:nth-of-type(even) {
  background-color: var(--table-color);
}
.table tbody tr:nth-of-type(odd) {
  background-color: var(--main-background);
}

/* AbmForm */

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin: 0 auto;
  border-radius: 1vw;
  background-color: var(--form-color);
  padding-block: 1vw;
}

.dataForm label {
  color: var(--text-color);
  font-family: var(--main-font);
}
.dataForm input::placeholder {
  font-family: var(--main-font);
}

.button-form {
  margin-left: -81%;
}
.button-back {
  border-radius: 50%;
}
