.info-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 2vw 2vw;
    border-radius: 10px;
}
.info-container h2 {
    font-weight: 900;
}
.email {
    margin-left: 1vw;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-weight: 600;
}
.form-group input {
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50vw;
}
