.navb {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    margin-right: 22%;
}

.warning {
    color: rgb(255, 0, 0);
    transition: 1s ease;
}

.logo {
    border: none;
    outline: none;
    background: none;
}

@media only screen and (max-width: 600px) {
    .navbar-nav {
        margin-right: 15%;
    }
}

button.nav-btn {
    width: 100%;
    height: 100%;
    color: var(--link-color);
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: 700;
    transition: 1s ease;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}

button.nav-btn:hover,
button.nav-btn:focus {
    color: var(--main-color);
    background-color: var(--link-color);
    transition: 1s ease;
}

.form-group * {
    font-family: var(--main-font);
}

.form-check * {
    color: solid black;
    font-family: var(--main-font);
}

.iniciar_sesion {
    width: 100%;
}

.dropdown_button {
    font-family: var(--main-font);
}

/* Footer CSS */

footer {
    margin-top: auto;
}

footer .row {
    margin-left: 0;
    margin-right: 0;
}

.footerblock {
    border-inline: 0.3vw solid black;
    border-block: 0.5vw solid black;
    background-color: var(--main-color);
    text-align: center;
}

.footerblock button {
    font-family: var(--main-font);
    background-color: var(--main-color);
    font-size: 1.1em;
    font-weight: 900;
    color: var(--button-link-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.footerblock p {
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
}

.footerblock address {
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
}

.sitemap {
    font-family: var(--main-font);
    background-color: var(--main-color);
    border-bottom-width: 0.5vw;
    border-style: solid;
    border-color: black;

    display: block;
    color: var(--text-color);
    text-align: center;

    padding: 0;
}

/* Solo en pantallas grandes */
@media only screen and (min-width: 768px) {
    .sitemap {
        display: flex;
    }
}

.sitemap-elem {
    margin: 0 auto;
    border: 0.2vw solid black;
}

.sitemap il,
.sitemap ul {
    list-style-type: none;
    padding: 0;
}

.sitemap-elem h3 {
    font-size: larger;
}
.sitemap-elem button {
    font-family: var(--main-font);
    color: white;
    font-size: 0.9em;
    font-weight: 900;
    text-decoration: none;

    /* Estas dos configuraciones de abajo son para overridear lo que viene de otras librerias por default */
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.sitemap-elem button:hover {
    text-decoration: underline;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.note {
    padding: 0;
    border: 0;
    margin: 0;
}
