.navb {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    margin-right: 22%;
}

.warning {
    color: rgb(255, 0, 0);
    transition: 1s ease;
}

.logo {
    border: none;
    outline: none;
    background: none;
}

@media only screen and (max-width: 600px) {
    .navbar-nav {
        margin-right: 15%;
    }
}

button.nav-btn {
    width: 100%;
    height: 100%;
    color: var(--link-color);
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: 700;
    transition: 1s ease;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}

button.nav-btn:hover,
button.nav-btn:focus {
    color: var(--main-color);
    background-color: var(--link-color);
    transition: 1s ease;
}

.form-group * {
    font-family: var(--main-font);
}

.form-check * {
    color: solid black;
    font-family: var(--main-font);
}

.iniciar_sesion {
    width: 100%;
}

.dropdown_button {
    font-family: var(--main-font);
}

/* Footer CSS */

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}
