.registration-form {
    padding: 5% 5%;
    align-items: center;
    background-color: #f6c18b;
    border-radius: 50px;
    font-family: var(--main-font);
}

.registration-form > h2 {
    font-weight: 700;
}

.registration-container {
    padding: 10px 10px;
}
.form-group {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-btn > * {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

small {
    color: grey;
}

.form-group > label {
    font-weight: 600;
}
