.services {
    background-color: #fec1c1;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.services > * {
    font-family: var(--main-font);
    text-align: center;
}