:root {
    --main-color: rgb(92, 10, 10);
    --text-color: white;
    --link-color: white;
    --button-link-color: #0d6efd;
    --main-background: #eee3e7;
    --table-color: #b070af;
    --main-font: 'Montserrat', sans-serif;
    --form-color: #8e1732;
}
* {
    font-family: var(--main-font);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-background);
}

footer {
    margin-top: auto;
    width: 99%;
}
@media only screen and (max-width: 600px) {
    footer {
        width: 97.5%;
    }
}

.footerblock {
    border-inline: 0.3vw solid black;
    border-block: 0.5vw solid black;
    background-color: var(--main-color);
    text-align: center;
}

.footerblock button {
    font-family: var(--main-font);
    background-color: var(--main-color);
    font-size: 1.1em;
    font-weight: 900;
    color: var(--button-link-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.footerblock p {
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
}

.footerblock address {
    font-family: var(--main-font);
    color: var(--text-color);
    text-decoration: none;
}

.row > p {
    font-family: var(--main-font);
    color: black;
    background-color: rgb(255, 255, 206);
    display: inline-block;
    text-align: center;
}

a {
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
}
