:root {
  --main-color: rgb(92, 10, 10);
  --text-color: white;
  --main-background: #eee3e7;
  --table-color: #b070af;
  --main-font: 'Montserrat', sans-serif;
  --form-color: #8e1732;
}

.footerblock {
  border-top: 10px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  background-color: rgb(92, 10, 10);
  text-align: center;
}

/* TODO: Add Montserrat font and use it in .footerblock p and .footerblock address since is the one we used in the sketches */
.footerblock p {
  font-family: 'Lucida Console', 'Courier New', monospace; /* Placeholder Font */
  color: white;
  text-decoration: none;
  text-align: left;
}

.footerblock address {
  font-family: 'Lucida Console', 'Courier New', monospace; /* Placeholder Font */
  color: white;
  text-decoration: none;
}

/* Selecciona solo aquellos <p> que son hijos directos de una etiqueta que posea la clase row*/
.row > p {
  font-family: 'Lucida Console', 'Courier New', monospace; /* Placeholder Font */
  color: black;
  background-color: rgb(255, 255, 206);
  display: inline-block;
  text-align: center;
}
