:root {
    --main-color: #2d6a4f;
    --text-color: white;
    --link-color: white;
    --main-background: #eafffa;
    --table-color: #b070af;
    --main-font: 'Montserrat', sans-serif;
    --form-color: #8e1732;
}

* {
    font-family: var(--main-font);
}

div.container-fluid {
    padding: 0;
}

button {
    border: none;
    outline: none;
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
}

.row {
    margin-right: 0 !important;
    margin-left: 0px !important;
}

.row > p {
    font-family: var(--main-font);
    color: black;
    background-color: rgb(255, 255, 206);
    display: inline-block;
    text-align: center;
}

a {
    font-family: var(--main-font);
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}
