:root {
    --main-color: rgb(92, 10, 10);
    --text-color: white;
    --link-color: white;
    --button-link-color: #0d6efd;
    --main-background: #eee3e7;
    --table-color: #b070af;
    --main-font: 'Montserrat', sans-serif;
    --form-color: #8e1732;
}
* {
    font-family: var(--main-font);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-background);
}

.row > p {
    font-family: var(--main-font);
    color: black;
    background-color: rgb(255, 255, 206);
    display: inline-block;
    text-align: center;
}

a {
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
}
